<p><%= "A full week of use at this rate would cost " + (@sensorhash['poweruse'].latestreading * 24 * 7 * @sensorhash['powerprice'].latestreading / 1000).round(2).to_s + " euros." %></p>
<p><%= "Last week electricity use was " + @wdiff.round(2).to_s + " kWh and it cost " + @wyprice.round(2).to_s + " euros."  %></p>
<p><%= "Last month electricity use was " + @mdiff.round(2).to_s + " kWh and it cost " + @myprice.round(2).to_s + " euros."  %></p>