<p>
  <b>Name:</b>
  <%= h @output.longname %>
</p>

<p>
  <b>State:</b>
  <% if (@output.state) %>
      On
  <% else %>
      Off
  <% end %>
</p>


<%= link_to 'Toggle', url_for(:action => :toggle, :id => @output.id), :confirm => "Are you sure?" %> |