<% form_tag({:action => :login}, :class => 'form login', :align => 'center') do -%>
    <b>Enter your account name and password to login</b>
    <br/>
    <div class="group wat-cf">
      <div class="left">
        <label class="label right">Login</label>
      </div>
      <div class="right">
        <%= text_field_tag :name, @name, :class => 'text_field' %>
      </div>
    </div>
    <div class="group wat-cf">
      <div class="left">
        <label class="label right">Password</label>
      </div>
      <div class="right">
        <%= password_field_tag :password, nil, :class => 'text_field' %>
      </div>
    </div>
    <div class="group navform wat-cf">
      <div class="right">
        <input type="submit" class="button" value="Sign in"/>
      </div>
    </div>
<% end -%>